<div class="app-shell">

  <aside class="sidebar">

    <div class="brand-logo">
      <span class="brand-name">WOVEN</span>
      <span class="brand-sub">Process Governance</span>
    </div>

    <nav>
      <a routerLink="/sops">SOPs</a>
      <a routerLink="/admin">Admin</a>
      <a routerLink="/reports">Reports</a>
      <a routerLink="/change-requests">Change Dashboard</a>
    </nav>
  </aside>

  <div class="main">

    <header class="app-header">
      <span class="page-title">SOP Gatekeeper</span>
      <div class="header-right">
        <span class="bell" (click)="goToChangeRequest()">
          🔔
          <span class="badge" *ngIf="unreadCount > 0">
            {{ unreadCount }}
          </span>
        </span>

        <button class="logout secondary" (click)="logout()">Logout</button>

      </div>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>


