<h2>Review Change Request</h2>

<div *ngIf="loading" class="muted">
  Loading change request...
</div>

<div *ngIf="errorMsg" class="error">
  {{ errorMsg }}
</div>

<section *ngIf="!loading && changeRequest" class="review-card">
  <div class="meta-grid">

    <div>
      <strong>SOP:</strong>
      {{ changeRequest.originalSopTitle }}
    </div>
    <div>
      <strong>ID:</strong>
      {{ changeRequest.changeRequestId }}
    </div>
    <div>
      <strong>Status:</strong>
      {{ changeRequest.changeStatus }}
    </div>
    <div>
      <strong>Version:</strong>
      {{ changeRequest.originalSopVersion }}
    </div>
    <div>
      <strong>Requested By:</strong>
      {{ changeRequest.requestByName }}
    </div>
    <div>
      <strong>Date Submitted:</strong>
      {{ changeRequest.updatedTimestamp | date:'short' }}
    </div>
  </div>

  <hr />

  <div class="meta-grid">
    <div>
      <strong>Business Process:</strong>
      {{ proposedSop?.processName  }}
    </div>
    <div>
      <strong>Org Group:</strong>
      {{ proposedSop?.orgGroupId  }}
    </div>
    <div>
      <strong>Department:</strong>
      {{ proposedSop?.departmentId  }}
    </div>
    <div>
      <strong>Department Subgroup:</strong>
      {{ proposedSop?.deptSubgroupId  }}
    </div>
  </div>

  <hr />

  <section class="block">
    <strong>SOP Description</strong>
    {{ proposedSop?.sopDescription  }}
  </section>

  <hr />

  <section class="block">
    <strong>SOP Details</strong>
    <div class="sop-details">{{ proposedSop?.sopDetails  }}</div>
  </section>

  <hr />

  <div class="block">
    <h3>Change Summary</h3>
    <p>{{ changeRequest.changeSummary }}</p>
  </div>

  <div class="block">
    <h3>Reason for Change</h3>
    <p>{{ changeRequest.changeReason }}</p>
  </div>

  <hr />

  <div class="actions">
    <label>
      Comments:
      <textarea
        rows="4" [(ngModel)]="comments"
        placeholder="Enter approval or rejection comments...">
      </textarea>
    </label>

    <div class="buttons">
      <button class="approve" (click)="approve()" [disabled]="submitting">Approve & Publish</button>
      <button class="reject" (click)="reject()" [disabled]="submitting">Reject</button>
      <button class="secondary" routerLink="/change-request">Back</button>
    </div>
  </div>
</section>

